/*Fondo de la página web*/
body {
    background-color: #13152A;
    color: white;
}  
/*Termina el Fondo*/
/*Aquí empieza los estilos del navbar*/
#navegador {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    overflow: hidden;
    background-color: #1F2449;
    border-radius: 5px;
    text-shadow: 2px 2px 2px black, 0 0 25px blue, 0 0 25px #000019;
}
.nav {
    float: left;
}
.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
}
.nav a:hover {
    background-color: #111;
}
.about_us {
    float: right;
    border: none;
}
.about_us a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
}
.about_us a:hover {
    background-color: #111;
}
.active {
    background-color: #2F8185;
}
.svgs {
    width: 30px;
    height: 30px;
}
/*Aquí finalizan los estilos del navbar*/
.container_1 {
    text-align: center;
}
.container_1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: auto;
    border-radius: 20px;
}